@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
    min-height: 100vh;    
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

body h1 {
    color: #000000;
}

body h2 {
    color: #000000;
}

.navbar-brand img {
    height: 50px;
}

.h4-titulo {
    color: #fff;
    font-size: 25px;
    font-weight: 600;
}
.btn-custom {
    background-color: #007bff;
    border: 2px solid #0056b3;
}

.container {
    font-family: "Poppins", sans-serif;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    justify-content:space-between;
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    margin: 20px;
}

.exercise {
    font-size: 15px;
    text-align: center;
    background-color: #06D6A0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
    margin-top: 20px;
    border-radius: 10px;
    padding: 30px;
}

.problem {
    margin: 20px 0;
}

.problem p {
    color: #000000;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.btn-verificar {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: black;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: #EC9F05;
    padding: 10px 20px;
    border-radius: 40px;
  }
  
.btn-verificar:hover {
    cursor: pointer;
}
  
.btn-verificar::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 4px solid #EC9F05;
    border-radius: 40px;
    transform-origin: center;
    transform: scale(1);
}
  
.btn-verificar:hover::before {
    transition: all 0.75s ease-in-out;
    transform-origin: center;
    transform: scale(1.75);
    opacity: 0;
}

.message {
    margin-top: 20px;
    font-size: 18px;
    color: #000000;
}

.container-flechas {
    width: 100%;
    padding: 20px;;
}

.container-flechas .left {
    float: left;
    width: 50%;
    text-align: center;
}

.container-flechas .right {
    float: right;
    width: 50%;
    text-align: center;
}